In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics

In [2]:
df=pd.read_csv("emails.csv")

In [3]:
df

df.head()

df.info

df.shape

df.columns

df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [4]:
df.dropna(inplace = True)
df.drop(['Email No.'],axis=1,inplace=True)
X = df.drop(['Prediction'],axis = 1)
y = df['Prediction']

In [5]:
df

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
5168,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,1,0,0
5169,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,1
5170,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,1,0,1
5171,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.preprocessing import scale
X = scale(X)
# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [7]:
X

array([[-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [ 0.11575699,  0.71450797,  1.33733653, ..., -0.0562853 ,
         0.03067224, -0.07097072],
       [-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       ...,
       [-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.3951477 ,  0.0851585 , -0.2938948 , ..., -0.0562853 ,
         0.03067224, -0.07097072],
       [ 1.30786793,  1.86831533, -0.0102024 , ..., -0.0562853 ,
        -0.32904848, -0.07097072]])

In [8]:
X_train

array([[ 0.03060621, -0.22951624, -0.2229717 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [ 0.20090777, -0.12462466, -0.2229717 , ..., -0.0562853 ,
         0.39039297, -0.07097072],
       ...,
       [-0.56544926, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.3951477 ,  0.50472481, -0.2938948 , ..., -0.0562853 ,
         0.75011369, -0.07097072],
       [-0.30999692, -0.64908256, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072]])

In [9]:
X_test

array([[-0.48029848, -0.54419098, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [ 0.5415109 ,  1.44874902,  4.31610679, ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.48029848,  0.81939955, -0.1520486 , ..., -0.0562853 ,
         1.46955514, -0.07097072],
       ...,
       [-0.3951477 , -0.54419098, -0.0811255 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.3951477 , -0.4392994 , -0.2229717 , ..., -0.0562853 ,
        -0.32904848, -0.07097072],
       [-0.48029848, -0.54419098, -0.2938948 , ..., -0.0562853 ,
        -0.32904848, -0.07097072]])

In [10]:
y_train

1023    0
4587    0
4415    0
4863    1
4901    0
       ..
4426    0
466     0
3092    0
3772    1
860     1
Name: Prediction, Length: 3620, dtype: int64

In [11]:
y_test

1566    0
1988    0
1235    1
3276    0
3438    0
       ..
3558    0
2298    0
1519    0
1740    0
1700    1
Name: Prediction, Length: 1552, dtype: int64

In [12]:
X_train.shape

(3620, 3000)

In [13]:
X_test.shape

(1552, 3000)

In [14]:
y_train.shape

(3620,)

In [15]:
y_test.shape

(1552,)

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [17]:
print("Prediction",y_pred)   # 1 for spam 0 for not spam

Prediction [0 0 1 ... 0 1 1]

In [18]:
print("KNN accuracy = ",metrics.accuracy_score(y_test,y_pred))

KNN accuracy =  0.8518041237113402

In [19]:
print("Confusion matrix",metrics.confusion_matrix(y_test,y_pred))

Confusion matrix [[894 203]
 [ 27 428]]

In [ ]:
# cost C = 1
model = SVC()   # C is an offset value to account for some mis-classification of data that can happen.

# fit
model.fit(X_train, y_train)

# predict
y_pred = model.predict(X_test)

In [21]:
print("SVM accuracy = ",metrics.accuracy_score(y_test,y_pred))

SVM accuracy =  0.9381443298969072

In [22]:
metrics.confusion_matrix(y_true=y_test, y_pred=y_pred)

array([[1091,    6],
       [  90,  365]], dtype=int64)