In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics

In [3]:
df=pd.read_csv('diabetes.csv')

In [4]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [6]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
X = df.drop('Outcome',axis = 1)
y = df['Outcome']

In [10]:
from sklearn.preprocessing import scale
X = scale(X)
# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 14)

In [11]:
X_train.shape

(537, 8)

In [12]:
y_train.shape

(537,)

In [13]:
X_test.shape

(231, 8)

In [14]:
y_test.shape

(231,)

In [15]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [16]:
#  The confusion matrix is used to evaluate the accuracy of classification.
# The first column and first row represent True Positive, the second column and
# first row represent False Positive, the second row and first column represent False Negative,
# and the second row and second column represent True Negative.

print("Confusion matrix: ")
cs = metrics.confusion_matrix(y_test,y_pred)
print(cs)

Confusion matrix:
[[133  24]
 [ 34  40]]

In [17]:
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted    0   1  All
True
0          133  24  157
1           34  40   74
All        167  64  231

In [19]:
print("Accuracy ",metrics.accuracy_score(y_test,y_pred))

# 137+35= 172/231= 74.45%

# Accuracy = 1 – Misclassification rate    1 - 0.2554 = 0.7446

# Accuracy (ACC) is calculated as the number of all correct predictions divided by the total number of the dataset.

# Accuracy = 1 – Error Rate.

# The best accuracy is 1.0, whereas the worst is 0.0.

# Error Rate = 1 – Accuracy

# Outcome takes values 0 or 1 where 0 indicates negative for diabetes and 1 indicates positive for diabetes.

# Error rate (ERR) is calculated as the number of all incorrect predictions divided by the total number of the dataset.(positive+negative)

# The best error rate is 0.0, whereas the worst is 1.0.

Accuracy  0.7489177489177489

In [20]:
# Misclassification Rate =  incorrect predictions / total predictions.
# 59 / 231 = 0.25

# Misclassification Rate = (false positive + false negative) / (total predictions)
# 20 + 39 = 59/231 = 0.25

total_misclassified = cs[0,1] + cs[1,0]
print(total_misclassified)

total_examples = cs[0,0]+cs[0,1]+cs[1,0]+cs[1,1]
print(total_examples)

print("Total Sample",total_examples)
print("Error rate ",1-metrics.accuracy_score(y_test,y_pred))# Misclassification Rate =  incorrect predictions / total predictions.
# 59 / 231 = 0.25

# Misclassification Rate = (false positive + false negative) / (total predictions)
# 20 + 39 = 59/231 = 0.25

total_misclassified = cs[0,1] + cs[1,0]
print(total_misclassified)

total_examples = cs[0,0]+cs[0,1]+cs[1,0]+cs[1,1]
print(total_examples)

print("Total Sample",total_examples)
print("Error rate ",1-metrics.accuracy_score(y_test,y_pred))

58
231
Total Sample 231
Error rate  0.25108225108225113
58
231
Total Sample 231
Error rate  0.25108225108225113

In [21]:
# Precision Score

# TP – True Positives
# FP – False Positives
# Precision is the ratio of correctly predicted positive observations to the total predicted positive observations.
# Precision – Accuracy of positive predictions.
# Precision = TP/(TP + FP)

print("Precision score",metrics.precision_score(y_test,y_pred))

Precision score 0.625

In [22]:
# Recall Score
# FN – False Negatives

# Recall(sensitivity or true positive rate): Fraction of positives that were correctly identified.
# Recall (Sensitivity) - Recall is the ratio of correctly predicted positive observations to the all observations in actual class - yes.
# Recall = TP/(TP+FN)

# Sensitivity: The “true positive rate” – the percentage of positive outcomes the model is able to detect.
# Specificity: The “true negative rate” – the percentage of negative outcomes the model is able to detect.

print("Recall score ",metrics.recall_score(y_test,y_pred))

Recall score  0.5405405405405406

In [23]:
print("Classification report ",metrics.classification_report(y_test,y_pred))
# F1 Score- A helpful metric for comparing two classifier
# F1 Score: A metric that tells us the accuracy of a model, relative to how the data is distributed.
# It is created by finding the the harmonic mean of precision and recall.
# F1 = 2 * (precision * recall)/(precision + recall)

Classification report                precision    recall  f1-score   support

           0       0.80      0.85      0.82       157
           1       0.62      0.54      0.58        74

    accuracy                           0.75       231
   macro avg       0.71      0.69      0.70       231
weighted avg       0.74      0.75      0.74       231